<% provide(:title, "Đăng nhập") %>
<div class="row" style="padding-top:100px">
  <div class="col-xs-7 col-sm-7 col-md-7 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
     <div class="login">
      <div class="row-fluid pricing-table pricing-one-column">
        <div class="col-xs-10 col-sm-10 col-md-10 plan">
          <h2 style="font-size: 35px;"><b>Đăng nhập tài khoản Webrent</b></h2>
          <br>  
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= form_for(:session, url: sessions_path) do |f| %>
          <%=f.text_field :email, style:"margin-bottom: 15px;",class: "form-control",placeholder:"Địa chỉ email"%>
          <%=f.password_field :password, style:"margin-bottom: 20px;",class: "form-control",placeholder:"Mật khẩu"%>
          <%= f.submit "Đăng nhập", class: "btn btn-lg btn-webrent btn-block", style:"margin-bottom: 10px;" %>
          <a data-toggle="modal" href="#myModal" class="forgot btn btn-danger btn-block btn-lg" style="margin-bottom: 10px">Quên mật khẩu</a>
          <% end %>
          <%= content_for :popup_reset do %>
          <%= render 'layouts/popup_reset_password' %>
          <% end %>
        </div>
      </div>
    </div>

    
  </div>
</div>
