<% provide(:title, "Change password") %>
<div class="row">
  <div class="col-xs-7 col-sm-7 col-md-7 col-xs-offset-3 col-sm-offset-3 col-md-offset-3" style="padding-top:50px">
    <div class="login">
      <div class="row-fluid pricing-table pricing-one-column">
        <div class="col-xs-10 col-sm-10 col-md-10 plan">
          <h2><b>Đổi mật khẩu</b></h2>
          <p>Nhập mật khẩu mới của bạn để hoàn tất lấy lại mật khẩu.</p>
          <br>
          <%= form_for @user,url: update_password_user_path(@user) do |f| %>
          <%= render 'shared/error_messages', object: @user %>

          <%= f.password_field :password,class: "form-control",placeholder:"Mật khẩu mới", style:"margin-bottom: 15px;" %>

          <%= f.password_field :password_confirmation,class: "form-control",placeholder:"Nhập lại mật khẩu mới", style:"margin-bottom: 20px;" %>

          <%= f.submit "Đổi mật khẩu", class: "btn btn-lg btn-primary btn-block", style:"margin-bottom: 20px;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
