<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Webrent</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>	

	<div class="container">
		<% flash.each do |key, value| %>
      <% if params[:controller] == "users" && params[:action] == "show" %>
      <% update = true %>
      <% end %>
      <% unless params[:commit] == "Sign in" && params[:action] == "new" || update == true %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

    <% end %>
    <%= yield %>
  </div>


    <%= yield(:homepage) %>
  

  <div id="contentPopup" style="display:none">    
    <%= yield(:popup) %>
  </div>

  <%= yield(:popup_reset) %>

  <%= yield(:upload_form) %>
  <%= render 'layouts/footer' %>

</body>
</html>
