<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Webrent</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.gallery" %>
  <%= javascript_include_tag "component" %>
  <%= javascript_include_tag "modernizr.custom.53451" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= check_background(params[:controller],params[:action]) %>">
  <%= check_page(params[:controller],params[:action]) %>
	<%= render 'layouts/header' %>	
	<div class="container">
		<% flash.each do |key, value| %>
    <% check_error = check_error(params[:controller],params[:action]) %>
    <% unless params[:commit] == "Đăng nhập" && params[:action] == "create" || check_error == true || params[:commit] == "Đăng ký" %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> 

    <% end %>
    <%= yield %>
  </div>

  <%= yield(:homepage) %>
  

  <div id="contentPopup" style="display:none">    
    <%= yield(:popup) %>
  </div>

    <%= yield(:popup_reset) %>

  <%= yield(:upload_form) %>
  <%= render 'layouts/footer' %>

</body>
</html>
